<h1>Панель администратора</h1>

<ul>
  <li><%= link_to 'Страны',  country_index_path %></li>
  <li><%= link_to 'Регионы', region_index_path %></li>
  <li><%= link_to 'Города',  city_index_path %></li>
  <li><%= link_to 'Турбазы', tourist_base_index_path %></li>
</ul>