<h2 class="page-header">Главная</h2>

<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-bar-chart"></i> Статистика</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">Количество стран<span class="pull-right"><%= @country_count %></span></li>
      <li class="list-group-item">Количество регионов<span class="pull-right"><%= @region_count %></span></li>
      <li class="list-group-item">Количество городов<span class="pull-right"><%= @city_count %></span></li>
      <li class="list-group-item">Количество турбаз<span class="pull-right"><%= @tourist_base_count %></span></li>
    </ul>
  </div>
</div>